@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.error{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(./2.jpeg) no-repeat fixed;
    background-size: cover;
    background-position: bottom;
}

.error h1{
    color: #eeecec;
    font-family: 'Lilita One', cursive;
    -webkit-text-stroke: 1px #000000;
}



/* rgb(255,0,45) */
@media only screen and (max-width: 768px) {
    .error{
        width: 104%;
    }    
}

