.contactFormContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url(./1.jpeg) fixed no-repeat center;
    background-size: cover;
    /* height: 80vh; */
    font-size: 22px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contactForm h1, span{
    text-align: center;
}

.contactForm input{
    height: 25px;
    outline: none;
    border: none;
    padding: 2px;
}

.contactForm input[type="submit"]{
    background: rgba(103,145,230, 0.8);
    padding: 5px;
    font-size: medium;
    margin: 0 auto;
    width: max-content;
}

::placeholder{
    color: #f0f0f0;
}

:-ms-input-placeholder {
    color: #f0f0f0;
}

input, textarea {
    background-color : rgba(239,121,95, 0.4);
    color: #f0f0f0;
    font-size: 18px;
}

textarea{
    resize: vertical;
    min-height: 70px;
    width: 100%;
}

@media only screen and (max-width: 768px){
    .contactFormContainer{
        width: 102%;
    }

    .contactForm{
        width: 90%;
    }   
}