.footer{
    color: #000000;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 5px;
    text-align: center;
    background: #757F9A;
    background: -webkit-linear-gradient(-50deg, #D7DDE8, #757F9A);
    background: linear-gradient(-50deg, #D7DDE8, #757F9A);
    border-top: 3px solid rgba(224,60,59, 0.5);
    border-radius: 5px 5px 0 0;
    transition-duration: 1s;
    opacity: 0.8;
    animation: Border 2s ease-in-out infinite;
}

.footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    height: 50px;
    margin-top: 15px;
}

.footer ul li{
    margin: 10px;
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.footer ul li:hover{
    /* top: 2px; */
    border: 2px solid rgb(224,60,59);
    box-shadow: 0 0 0 2px;
}

.contactform{
    box-shadow: 0 0 5px 5px #727d9c;
    width: fit-content;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    margin-top: 10px;
}

/* rgba(255, 4, 4, 0.6) */

@media only screen and (max-width: 768px) {
    .footer{
        /* border: 0; */
        width: 105%;
    }
    .footer ul li:hover{
        /* top: 2px; */
        border: 0;
        box-shadow: 0;
    }   
}

@keyframes Border{

    20%,80%{
        border-color: rgba(255, 4, 4, 1);
    }
}